//  GARANT  
section.section.garant#garant
	.container
		.row.justify-content-between.garant__row-1
			.col.col-12.col-lg-6.garant__col
				h2.desc-2 Вы хотите получить гарантированное решение вопросов с недвижимостью
			.col.col-12.col-lg-6.garant__col
				.garant__desc за реальную стоимость и сроки, а также исключить посредников в виде риелторов

		.row.justify-content-between.garant__row-2
			.col.col-12.col-md-6.garant__col
				.garant__pic
					img(src="img/garant/1.jpg", alt="Хочу самостоятельно оформить сделку")
				.garant__box-btn
					a.btn1.btn1_h.garant__btn(href="#") Хочу самостоятельно оформить сделку
				.garant__box-text
					.garant__text 
						strong БЕСПЛАТНО:
						|  получить информацию по услуге, консультацию эксперта и образец документов
			.col.col-12.col-md-6.garant__col
				.garant__pic
					img(src="img/garant/2.jpg", alt="Заказать пакет услуг")
				.garant__box-btn
					a.btn1.btn1_blue.btn1_h.garant__btn(href="#") Заказать пакет услуг
				.garant__box-text
					.garant__text Получите гарантированный результат по договору и уверенность в чистоте своей сделки.
//  /GARANT  