//  Первый экран  
section.top.section_blue.section
	.container
		.top__wrap
			h1.desc-1 Получите помощь от экспертов в сфере недвижимости
			.top__advant
				.top__advant-item
					.top__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#document-3")
					.top__advant-text Предоставим образцы документов
				.top__advant-item
					.top__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#support-1")
					.top__advant-text Online-консультации эксперта в сфере недвижимости
				.top__advant-item
					.top__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#saving")
					.top__advant-text Данные услуги предоставляются 
						strong БЕСПЛАТНО!
				.top__advant-item
					.top__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#24-hours")
					.top__advant-text Услуги персонального менеджера-куратора сделки в режиме 24/7
			.top__btns
				a.btn1.btn1_light.top__btn(href="#modal-consult") Получить консультацию
			.top__box-down
				a.down(href="#garant")
					svg(role="img")
						use(xlink:href="img/svg/sprite.svg#arrow-down")
					span вниз

	.top__pic
		.top__pic-title
			strong Шивагорнова Кристина,
			br 
			| Вице-президент компании
		picture
			source(srcset="img/woman-1-small.png 1x, img/woman-1@2x.png 2x" media="(max-width:992px)")
			source(srcset="img/woman-1.png")
			img(src="img/woman-1.png", alt="")
//  /Первый экран  