//  MANAGERS  
section.section.managers
	.container
		.managers__head
			.row
				.col.col-12.col-lg-5.col-xl-6
					h2.desc-2 Выберите персонального менеджера
				.col.col-12.col-lg-7.col-xl-6.managers__head-text
					.block-left-border-2 Вводный текст по услугу, что она в себя включает. Например: Менеджер будет сопровождать вашу сделку до результата. В личном кабинете вы будете отслеживать каждый шаг

		.row
			.col.col-12.col-sm-6.col-lg-4.col-xl-3
				.managers__item
					.managers__pic
						img(src="img/managers/1.jpg", alt="")
					.managers__body
						.managers__name Кристина
						.managers__prof Название должности либо стаж
						.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
					.managers__footer
						.managers__stars
							.stars
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star
						.managers__count 18 заказов
			.col.col-12.col-sm-6.col-lg-4.col-xl-3
				.managers__item
					.managers__pic
						img(src="img/managers/2.jpg", alt="")
					.managers__body
						.managers__name Кристина
						.managers__prof Название должности либо стаж
						.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
					.managers__footer
						.managers__stars
							.stars
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star
						.managers__count 18 заказов
			.col.col-12.col-sm-6.col-lg-4.col-xl-3
				.managers__item
					.managers__pic
						img(src="img/managers/3.jpg", alt="")
					.managers__body
						.managers__name Кристина
						.managers__prof Название должности либо стаж
						.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
					.managers__footer
						.managers__stars
							.stars
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star
						.managers__count 18 заказов
			.col.col-12.col-sm-6.col-lg-4.col-xl-3
				.managers__item
					.managers__pic
						img(src="img/managers/4.jpg", alt="")
					.managers__body
						.managers__name Кристина
						.managers__prof Название должности либо стаж
						.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
					.managers__footer
						.managers__stars
							.stars
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star.star_active
								span.star
						.managers__count 18 заказов

		.managers__more
			.row
				.col.col-12.col-sm-6.col-lg-4.col-xl-3
					.managers__item
						.managers__pic
							img(src="img/managers/1.jpg", alt="")
						.managers__body
							.managers__name Кристина
							.managers__prof Название должности либо стаж
							.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
						.managers__footer
							.managers__stars
								.stars
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star
							.managers__count 18 заказов
				.col.col-12.col-sm-6.col-lg-4.col-xl-3
					.managers__item
						.managers__pic
							img(src="img/managers/2.jpg", alt="")
						.managers__body
							.managers__name Кристина
							.managers__prof Название должности либо стаж
							.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
						.managers__footer
							.managers__stars
								.stars
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star
							.managers__count 18 заказов
				.col.col-12.col-sm-6.col-lg-4.col-xl-3
					.managers__item
						.managers__pic
							img(src="img/managers/3.jpg", alt="")
						.managers__body
							.managers__name Кристина
							.managers__prof Название должности либо стаж
							.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
						.managers__footer
							.managers__stars
								.stars
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star
							.managers__count 18 заказов
				.col.col-12.col-sm-6.col-lg-4.col-xl-3
					.managers__item
						.managers__pic
							img(src="img/managers/4.jpg", alt="")
						.managers__body
							.managers__name Кристина
							.managers__prof Название должности либо стаж
							.managers__text Краткое описание специализации в 2 или максимум в 3 строки. Описание в 3 строки
						.managers__footer
							.managers__stars
								.stars
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star.star_active
									span.star
							.managers__count 18 заказов

		.ta-c
			a.btn1.managers__btn(href="#")
				svg(role="img")
					use(xlink:href="img/svg/sprite.svg#user")
				span Показать всех специалистов

//  /MANAGERS  