//  NEWS  
section.section.news
	.container
		.row.align-items-center.news__head
			.col.col-12.col-md-8
				h2.desc-2 Новости
			.col.col-12.col-md-4
				.news__box-link
					a.news__link(href="news.html")
						span Читать все новости
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#arrow-right")

		.row.justify-content-between
			.col.col-12.col-xl-6.news__item
				.news__card
					a.news__pic(href="news.html")
						img(src="img/news/1.jpg", alt="")
					.news__box
						.news__date 26.05.19
						a.news__title(href="news.html") ЖК «Варшавское шоссе 141» демонстрирует высокое качество и темп строительства
						.news__desc «Варшавское шоссе 141» - это новый индустриальный жилой проект Группы Компаний ПИК, возводящийся в 500 метрах от метро «Аннино» в Южном административном округе Москвы
			.col.col-12.col-xl-6.news__item
				.news__card
					a.news__pic(href="news.html")
						img(src="img/news/2.jpg", alt="")
					.news__box
						.news__date 26.05.19
						a.news__title(href="news.html") ЖК «Варшавское шоссе 141» демонстрирует высокое качество и темп строительства
						.news__desc «Варшавское шоссе 141» - это новый индустриальный жилой проект Группы Компаний ПИК, возводящийся в 500 метрах от метро «Аннино» в Южном административном округе Москвы
			.col.col-12.col-xl-6.news__item
				.news__card
					a.news__pic(href="news.html")
						img(src="img/news/3.jpg", alt="")
					.news__box
						.news__date 26.05.19
						a.news__title(href="news.html") ТОП-10 за сентябрь самых востребованных объектов арендного бизнеса
						.news__desc В сентябре самыми востребованными оказались объекты площадью от 58 до 72 м2. При этом стоимость объектов увеличилась на 2,4% и в среднем составляет...
			.col.col-12.col-xl-6.news__item
				.news__card
					a.news__pic(href="news.html")
						img(src="img/news/4.jpg", alt="")
					.news__box
						.news__date 26.05.19
						a.news__title(href="news.html") Цена «квадрата» в новостройках продолжает снижаться
						.news__desc За месяц стоимость кв. метра снизилась на 6,1 тыс рублей
//  /NEWS  