//  ORDER 3  
section.section.section_blue.order.order-3
	.container
		.order__wrap
			h2.desc-2 Заголовок для блока с преимуществами
			.order__advant
				.order__advant-item
					.order__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#24-hours")
					.order__advant-text Бесплатная консультация 24/7
				.order__advant-item
					.order__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#visitor")
					.order__advant-text Специализируемся на недвижимости
				.order__advant-item
					.order__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#document-3")
					.order__advant-text Каждая сделка застрахована
				.order__advant-item
					.order__advant-icon
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#shield")
					.order__advant-text 3 года гарантии
	.order__pic
		picture
			source(srcset="img/woman-3-small.png" media="(max-width:992px)")
			source(srcset="img/woman-3.png")
			img(src="img/woman-3.png", alt="Заголовок для блока с преимуществами")
//  /ORDER 3  