//  ORDER 2  
section.section.section_blue.order.order-2
	.container
		.order__head
			.order__head-icon
				svg(role="img")
					use(xlink:href="img/svg/sprite.svg#support-1")
			h2.desc-2 Ответим на любой ваш вопрос
		.order__wrap
			.order__text Если в течение 3-х лет по нашей вине возникнут проблемы по сделке, мы вернем 
		.order__box-call
			a.order__call(href="tel:+78000000000")
				svg(role="img")
					use(xlink:href="img/svg/sprite.svg#call-answer")
				span 8 (800) 
					strong 000 00 00
			.order__call-text Бесплатно по России
		.order__btns
			a.btn1.btn1_light.order__btn(href="#modal-call") Заказать звонок
	.order__pic
		picture
			source(srcset="img/woman-2-small.png 1x, img/woman-2@2x.png 2x" media="(max-width:992px)")
			source(srcset="img/woman-2.png")
			img(src="img/woman-2.png", alt="Ответим на любой ваш вопрос")
//  /ORDER 2  