//  PARTNERS  
section.section.partners.partners__indexes
	.container
		h2.desc-2 Наши партнёры
		.row.justify-content-around.align-items-center
			.partners__item
				img(src="img/partners/areal-estate.png", alt="")
			.partners__item
				img(src="img/partners/vtb-24.png", alt="")
			.partners__item
				img(src="img/partners/soglasie.png", alt="")
			.partners__item
				img(src="img/partners/ocenka.png", alt="")
			.partners__item
				img(src="img/partners/roseurobank.png", alt="")
			.partners__item
				img(src="img/partners/citibank.png", alt="")
			.partners__item
				img(src="img/partners/sberbank.png", alt="")
			.partners__item
				img(src="img/partners/absolutbank.png", alt="")
			.partners__item
				img(src="img/partners/unicreditbank.png", alt="")
			.partners__item
				img(src="img/partners/promsvyazbank.png", alt="")
//  /PARTNERS  