//  Подвал  
footer.footer
	.container
		.row.footer__row
			.footer__col.footer__col-1
				.footer__copyright &copy; "ПУТЕВОДНАЯ ЗВЕЗДА города"/ 
					span.d-ib LLC "LODESTAR-CITY"
				.footer__desc OPTI24 - гарантированное решение вопросов с недвижимостью за реальную стоимость и сроки. Вы получаете гарантированный результат по договору и уверенность в чистоте вашей сделки.

			.footer__col.footer__col-2
				ul.footer__nav
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span Сделки по недвижимости самостоятельно
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span Сделки по недвижимости с экспертом
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span Полезные материалы
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span Вопросы и ответы
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span О нас
					li
						a.footer__nav-link(href="#")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#sign-right")
							span Контакты

			.footer__col.footer__col-3
				.socials
					.socials__title Мы в соцсетях:
					ul.socials__list
						li
							a.socials__link.socials_vk(href="#" target="_blank")
								svg(role="img")
									use(xlink:href="img/svg/sprite.svg#vk")
								span VK
						li
							a.socials__link.socials_fb(href="#" target="_blank")
								svg(role="img")
									use(xlink:href="img/svg/sprite.svg#fb")
								span Facebook
						li
							a.socials__link.socials_inst(href="#" target="_blank")
								svg(role="img").
									<linearGradient id="gradient-inst" x1="0" y1="100%" x2="100%" y2="0"><stop offset="0%" class="" stop-color="#f40000"/><stop offset="100%" class="" stop-color="#b900b2"/></linearGradient>
									<use xlink:href="img/svg/sprite.svg#inst"/>
								span Instagram

			.footer__col.footer__col-4
				.footer__box-email
					.email
						a.email__link(href="mailto:info@opti24.ru" target="_blank")
							svg(role="img")
								use(xlink:href="img/svg/sprite.svg#envelope")
							span info@opti24.ru
				.phone
					a.phone__link(href="tel:88000000000") 8 (800) 
						strong 000 00 00
					a.btn1.phone__btn(href="#modal-call")
						svg(role="img")
							use(xlink:href="img/svg/sprite.svg#call-answer")
						span Заказать звонок
				a(href="#" target="_blank")
					img(src="img/logo-efectum.png", alt="")


//  /Подвал  