doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title OPTI - Статья
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no")
		meta(name="robots" content="nofollow,noindex")
		link(rel="shortcut icon" href="img/favicon.png" type="image/png")
		
		//[if IE]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]
		
		link(href="css/libs.min.css", rel="stylesheet", type="text/css")
		link(href="css/style.css", rel="stylesheet", type="text/css")

	body
		include pugs/header.pug
		//  ХЛЕБНЫЕ КРОШКИ  
		.crumbs
			.container
				ul.crumbs__list
					li.crumbs__li
						a.crumbs__link(href="index.html") Главная
					li.crumbs__li
						a.crumbs__link(href="news.html") Новости
					li.crumbs__li
						a.crumbs__link(href="#") ТОП-5 где лучше взять ипотечный кредит
		//  /ХЛЕБНЫЕ КРОШКИ  

		.main-page#top
			.container
				.article
					.row.justify-content-between.align-items-start
						.article__date 03.06.19
						.article__desc
							h1.desc-1 ТОП-5 где лучше взять ипотечный кредит
						.article__print
							a.print(href="#" onclick="window.print()")
								svg(role="img")
									use(xlink:href="img/svg/sprite.svg#printer")
								| Распечатать

			.article__pic(style="background-image:url(img/article.jpg)")

			.article__wrapper
				.container
					.row(data-sticky-container)
						.col.col-12.col-xl-7
							.article__content
								p.article__first-letter Купить квартиру мечтают очень многие, но далеко не все могут себе позволить потратить сразу настолько ощутимую сумму денег. Выход в такой ситуации зачастую бывает только один – взять ипотечный кредит. Многие не могут решиться на столь ответственный шаг, понимая, что подобный кредит придется выплачивать очень долго. Тем не менее, при соблюдении нескольких правил, а также тщательном выборе банка, можно переселиться в собственную квартиру без существенных проблем.
								h2 Как правильно и выгодно взять ипотечный кредит
								p Решение купить квартиру в ипотеку для многих становится самым важным в жизни. При этом очень хочется, чтобы займ был максимально выгодным и не стал кабалой.
								p
									strong Как правильно взять ипотечный кредит?
									|  Вопрос этот неизбежно возникает у потенциальных заемщиков. На самом деле есть несколько важных правил, соблюдение которых поможет сделать покупку квартиры радостным событием и не позволит оформлению ипотеки испортить жизнь заемщику.
								ol
									li Прежде чем оформить ипотеку, следует оценить свои возможности. Желательно, чтобы ежемесячные платежи не превышали одной трети семейного бюджета. Если не соблюсти это правило, тянуть ипотеку может быть очень сложно.
									li Лучше всего улучшать жилищные условия постепенно. В этом случае сумма платежа будет ниже. Кроме того, выплатить ипотеку удастся быстрее, а при желании купить в будущем квартиру побольше, можно будет оформить кредит под более выгодные условия.
									li Недостаточно просто взять ипотечный кредит в банке. Следует вовремя вносить ежемесячные платежи. Максимальная экономия семейного бюджета поможет создать подушку безопасности. В идеале она должна быть около трех ежемесячных платежей. Это поможет платить ипотеку даже в случае временных трудностей. Когда «заначка» будет создана, можно начинать частично досрочные гашения. Это поможет сэкономить на выплате процентов.
									li Минимальная переплата может быть достигнута не только тогда, когда подобраны лучшие условия по ипотечному кредиту. Важно покупать квартиру тогда, когда на рынке наблюдается падение. При этом следует внимательно изучать прогнозы специалистов.
								h2 Самые лучшие банки для ипотечного кредита
								p С оформлением ипотеки торопиться не стоит. Еще до принятия решения следует внимательно ознакомиться с предложениями различных кредитных организаций. Чтобы понять, где лучше взять ипотечный кредит. При этом следует принять во внимание не только размер процентной ставки, но и 
									strong другие условия:
								ul
									li Наличие дополнительных комиссий, страховок и платежей.
									li Условия досрочного гашения (в том числе частичного).
									li Размер первоначального взноса.
								p Сразу скажем, что оформить ипотечный кредит без первоначального взноса в 2019 году довольно затруднительно, потому что для банка это большие риски. Как правило, первый взнос по таким кредитам начинает от 10 процентов. Если у Вас нет первоначального взноса для покупки квартиры в кредит, обратите внимание на банки, где можно оформить потребительский кредит на любые цели. Полученные деньги можно направить на первоначальный взнос по ипотеке.
								p Большое количество предложений на рынке нередко ведет к тому, что потенциальные заемщики могут запутаться и растеряться. Огромное количество заманчивых рекламных лозунгов могут и вовсе ввести в заблуждение. Поэтому 
									strong нелишним будет использовать при выборе ТОП-5 лучших банков для ипотечного кредита.
								h2 Выгодный ипотечный кредит онлайн через сервис Тинькофф

								img(src="img/tinkoff.jpg", alt="Тинькофф Банк, логотип")
								.images-subtitle Тинькофф Банк, логотип
								p Сервис банка Тинькофф предлагает рассмотреть предложения нескольких банков по кредитам на покупку квартиры. При этом пугающую мысль о необходимости бегать по офисам различных кредитных организаций можно оставить. Онлайн заявка на ипотеку через сайт Тинькофф позволяет переложить все проблемы по отправлению документов в банк на личного менеджера.
								p После заполнения анкеты на сайте Тинькофф Банка ваша заявка будет рассмотрена сразу несколькими банками-партнерами. После одобрения останется лишь выбрать лучший банк для ипотеки из предложенного списка. Более того, при оформлении кредита через Тинькофф можно получить скидку на процентную ставку до 1.5%. С учетом больших суммы и срока займа это довольно ощутимая экономия.
								p На текущий момент минимальная ставка по ипотечному кредиту на квартиру в новостройке начинает всего лишь от 6% годовых. Срок максимальный составляет 25 лет а сумма кредитования до 100 млн. рублей.

								.warning
									.warning__in Очень важно, что через сервис оставить заявку на ипотечный кредит могут не только сотрудники компаний, но и предприниматели ИП.

								h2 Ипотечный кредит с плохой кредитной историей в банке БЖФ

								img(src="img/bgf.jpg", alt="Банк Жилищного финансирования, логотип")
								.images-subtitle Банк Жилищного финансирования, логотип

								p В Банке Жилищного Финансирования любой желающий может оформить ипотечный кредит. Причем как заявляет банк получить кредит могут даже заемщики с плохой кредитной историей в прошлом. Главное, чтобы на момент подачи заявки не было текущих просроченных платежей по кредитам в других банках. Это один из немногих банков, где можно оформить ипотечный кредит без отказа по причине плохой кредитной истории в прошлом. Статистика БЖФ показывает, что банк одобряет 82% поданных заявок на ипотеку. Это очень высокий показатель!
								p Кроме этого, ипотечный кредит в БЖФ обладает следующими преимуществами:
								ul
									li Ипотека по 2 документам (паспорт и второй документ — СНИЛС, ИНН водительское удостоверение).
									li Есть ипотечная программа, позволяющая получить кредит без справок в день обращения.
									li Официальное подтверждение дохода, уменьшает процентную ставку и увеличивает лимит кредитования.
									li Оформление сделки и квартиры происходит не более чем за 3 дня.
									li Ипотечный кредит выдается напрямую от банка, без участия агентов, посредников и комиссий.

								.warning
									.warning__in Важно! Оставить заявку на ипотечный кредит онлайн могут жители следующих городов: Москва и область, Санкт-Петербург и Ленинградская область, Волгоград, Екатеринбург, Казань, Краснодар, Красноярск, Нижний Новгород, Саратов, Новороссийск, Новосибирск, Омск.

								h2 Выгодные условия по ипотеке от банка «Открытие»

								img(src="img/otkrytie.jpg", alt="Банк Открытие, логотип")
								.images-subtitle Банк Открытие, логотип

								p Решая, в каком банке оформить ипотечный кредит, не стоит оставлять без внимания банк Открытие. Условия по ипотечному кредитованию здесь довольно лояльные. На выбор клиенту предлагается несколько интересных программ в зависимости от потребностей заемщика:
								ul
									li Покупка квартиры в новостройке.
									li Покупка квартиры на вторичном рынке.
									li Рефинансирование ипотечных кредитов других банков.
									li Оформление сделки и квартиры происходит не более чем за 3 дня.
									li Военная ипотека.
									li Недвижимость под материнский капитал.
									li Ипотечное кредитование на покупку больших апартаментов.
								p Процентная ставка в банке Открытие определяется тем, по какой ипотечной программе был выдан кредит. На минимальный процент – 8.9% можно рассчитывать при покупке квартиры в новостройке или военной ипотеки. Из других особенностей — первый взнос от 10% и максимальный срок — 30 лет.
								
								h2 Ипотечный кредит выгодно с господдержкой от банка ВТБ
								img(src="img/vtb.jpg", alt="Банк ВТБ, логотип")
								.images-subtitle Банк ВТБ, логотип
								p Следующий банк в рейтинге банков, выдающих выгодные ипотечные программы — ВТБ.
								ul
									li Процентная ставка здесь начинается с 10.2%.
									li Первоначальный взнос меньше, чем во многих других банках – 10%.
									li Возможность оформления без авансового платежа под материнский капитал.
									li Кроме того в этом банке действует программа «Ипотечный кредит с господдержкой». Программа подразумевает льготное кредитование семьи, у которой с 01.01.2018 родился второй или третий ребенок. На определенный период устанавливается льготная ставка 6% при первоначальном взносе от 20%. Согласитесь, что это выгодно?
									li Также есть интересная программа «Больше метров — ниже ставка» при покупке квартиры от 65 кв. метров. То есть, чем больше квартира, тем меньше процентная ставка.

								h2 Ипотечное кредитование на строительство или покупку загородного дома от Сбербанка
								img(src="img/sber.jpg", alt="Сбербанк, логотип")
								.images-subtitle Сбербанк, логотип
								p Самый большой банк страны — Сбербанк, также ведет очень активную деятельность на ипотечном рынке кредитования. Банк охотно кредитует как сами застройщиков, так и заемщиков, которые хотят квартиру в ипотечный кредит. Причем оформить ипотечный кредит могут даже пенсионеры, но при условии что погашение кредита предусмотрено до 75 лет заемщика.
								p Как и в других банках, здесь предлагается ипотечный кредит с господдержкой для семей с детьми; ипотека на новостройки и вторичное жилье; военные ипотечные программы; ипотека с использованием маткапитала. Также есть программы, которые не всегда можно встретить в других банках. Это — ипотечный кредит на строительство жилого дома, а также ипотечный кредит на покупку или строительство загородной недвижимости (частный дом, садовый участок и тд).

								.quotes
									p Специалисты утверждают, что интерес к ипотечному кредитованию в 2019 году не станет меньше. Скорее всего, он будет только расти. При правильном отношении к таким займам ипотека принесет только радость переезда в новое жилье. При этом не стоит брать кредит в первом попавшемся банке. Важно разобраться, где выгоднее взять ипотечный кредит. Это поможет сэкономить львиную долю семейного бюджета.
								.quotes__subtitle Редакция портала Opti24

								.article__author
									.article__author-bg
										strong Автор статьи:
										|  Александрова Александра


						.col.col-12.col-xl-5
							.article__aside
								#sticky.sticky(data-margin-top="60" data-sticky-class="sticky_fix" data-sticky-for="1250")
									.sticky-box
										.sticky-box__title Вы хотите получить гарантированное решение вопросов с недвижимостью
										p за реальную стоимость и сроки, а также исключить посредников в виде риелторов?
										.garant__col
											.garant__box-btn
												a.btn1.btn1_h.btn1_border-light.garant__btn(href="#") Хочу самостоятельно оформить сделку
											.garant__box-text
												.garant__text 
													strong БЕСПЛАТНО:
													|  получить информацию по услуге, консультацию эксперта и образец документов
										.garant__col
											.garant__box-btn
												a.btn1.btn1_light.btn1_h.garant__btn(href="#") Заказать пакет услуг
											.garant__box-text
												.garant__text Получите гарантированный результат по договору и уверенность в чистоте своей сделки.

									.sticky__footer
										.sticky__up
											a.sticky-scroll-up.link-def(href="#top")
												svg.link-def__circle-up(role="img")
													use(xlink:href="img/svg/sprite.svg#arrow-right-circle")
												span В начало статьи
										.sticky__back
											a.link-def.article__back(href="news.html")
												span Все новости
												svg.link-def__right(role="img")
													use(xlink:href="img/svg/sprite.svg#arrow-right-small")

										.socials.socials_row
											.socials__title Мы в соцсетях:
											ul.socials__list
												li
													a.socials__link.socials_vk(href="#" target="_blank")
														svg(role="img")
															use(xlink:href="img/svg/sprite.svg#vk")
														span VK
												li
													a.socials__link.socials_fb(href="#" target="_blank")
														svg(role="img")
															use(xlink:href="img/svg/sprite.svg#fb")
														span Facebook
												li
													a.socials__link.socials_inst(href="#" target="_blank")
														svg(role="img").
															<linearGradient id="gradient-inst" x1="0" y1="100%" x2="100%" y2="0"><stop offset="0%" class="" stop-color="#f40000"/><stop offset="100%" class="" stop-color="#b900b2"/></linearGradient>
															<use xlink:href="img/svg/sprite.svg#inst"/>
														span Instagram
			
			
		include pugs/footer.pug
		include pugs/modals.pug
		include pugs/_scripts.pug