doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title OPTI - Сопровождение при покупке с использованием кредитных средств (Ипотека)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no")
		meta(name="robots" content="nofollow,noindex")
		link(rel="shortcut icon" href="img/favicon.png" type="image/png")
		
		//[if IE]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]
		
		link(href="css/libs.min.css", rel="stylesheet", type="text/css")
		link(href="css/style.css", rel="stylesheet", type="text/css")

	body
		include pugs/header.pug
		//  ХЛЕБНЫЕ КРОШКИ  
		.crumbs
			.container
				ul.crumbs__list
					li.crumbs__li
						a.crumbs__link(href="index.html") Главная
					li.crumbs__li
						a.crumbs__link(href="services-online.html") Онлайн услуги
					li.crumbs__li
						a.crumbs__link(href="services-1.html") Сопровождение при покупке недвижимости
					li.crumbs__li
						a.crumbs__link(href="#") Сопровождение при покупке с использованием кредитных средств (Ипотека)
		//  /ХЛЕБНЫЕ КРОШКИ  

		.main-page
			.container
				h1.desc-1 Сопровождение при покупке с использованием кредитных средств (Ипотека)

				.table-2
					table.table-2__head(width="100%")
						tr.table-2__row-head
							td Пакет услуг:
							td
								.table-2__title Пакет 
									span.d-ib "ИПОТЕКА"
								.table-2__desc Проверим покупаемую квартиру и подготовим схему дальнейших этапов сделки
							td
								.table-2__title Пакет 
									span.d-ib "ИПОТЕКА+"
								.table-2__desc Подготовим и проверим все необходимые документы для приобретения квартиры в Ипотеку
							td
								.table-2__title Пакет 
									span.d-ib "ИПОТЕКА VIP"
								.table-2__desc Сопровождение «под ключ» приобретения объекта

						tr.table-2__row-price
							td Стоимость:
							td 5 300 руб.
							td 26 800 руб.
							td 59 800 руб.
							
					
					table.table-2__body(width="100%")
						tr
							td
								a(href="#") Пакет «Стандартов» для приобретения объекта недвижимости и подготовки сделки
							td
								i.checkmark
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Контроль специалистом компании самостоятельного сбора необходимых документов для отчуждения объекта недвижимости с дальнейшим предоставлением в банк
							td
								i.checkmark
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Подготовка описания схемы сделки и совершения финансовых операций для приобретения объекта недвижимости
							td
								i.checkmark
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Online-проведение переговоров/торгов с продавцом для подготовки дальнейших этапов приобретения объекта недвижимости
							td
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Юридический аудит (проверка) на приобретаемый объекта недвижимости с предоставлением заключения эксперта по недвижимости
							td
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Составление договора Авансв/Задатка при покупке квартиры
							td
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Проверка юристом договора купли-продажи объекта недвижимости, подготовленного/ переданного банком клиента
							td
							td
								i.checkmark
							td
								i.checkmark
						tr
							td
								a(href="#") Список АКТУАЛЬНЫХ объектов недвижимости подходящих под Ипотеку по запросу клиента
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Сбор пакета документов на объект недвижимости по запросу банка заемщика (для приобретения объекта) с предоставлением сведений ЕГРП в электронном виде
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Online-сопровождение операции по внесению Покупателем аванса / задатка (в форме видеоконференции)
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Подготовка договора купли-продажи объекта недвижимости (в эл.виде) с использованием кредитных средств
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Online-сопровождение экспертом сделки по приобретению объекта недвижимости
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Сопровождение клиента при получении заемных средств
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Услуги персонального менеджера-куратора сделки в режиме 24/7 (только в составе пакетов)
							td
							td
							td
								i.checkmark
						tr
							td
								a(href="#") Проверка договоров банковской ячейки через которую будет произведен расчет между сторонами и подготовка схемы закладки денежных средств
							td
							td
							td
								i.checkmark


					table.table-2__head(width="100%")
						tr.table-2__row-price
							td Стоимость:
							td 5 300 руб.
							td 26 800 руб.
							td 59 800 руб.
						tr.table-2__row-btns
							td
							td
								a.btn1.btn1_blue.btn1__order(href="#") Заказать
							td
								a.btn1.btn1_blue.btn1__order(href="#") Заказать
							td
								a.btn1.btn1_blue.btn1__order(href="#") Заказать


				h2.desc-2 Дополнительно вы можете заказать:
				include pugs/_table.pug
			
			include pugs/_order-1.pug
			include pugs/_managers.pug
			include pugs/_order-3.pug
			include pugs/_partners-2.pug

			
			

			
		include pugs/footer.pug
		include pugs/modals.pug
		include pugs/_scripts.pug